*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*search component style*/
.search{
    width: 250px;
    height:auto;
}
.search input{
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid black;
    border: none;
    outline: none;
}
.search button{
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid black;
    border: none;
    border-left: 1px solid black;
}

/*nav component styles*/
.nav{
    width: 100%;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .left{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav .mid{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav .right{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav .right ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: larger;
}

/*home css*/
.home{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home .img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.home .text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 50px;
    text-align: justify;
}
.home img{
    height: 350px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}

/*order css*/
.main{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.tshirts{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hoodies{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card img{
    height: 80%;
    border-radius: 25px;
}
.card img:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/*footer css*/
.footer{
    width: 100%;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer img{
    height: 30px;
    width: 30px;
    margin: 5px;
}
.imgs{
    margin-top: 10px;
}